.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
.title {
  color: #003400;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
