
.header {
    padding: 1rem 2rem;
    border-bottom: 1px solid #003400;
    background-color: #FBEBCE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
  }
  
  .menuButton {
    font-size: 1.5rem;
    background: #003400;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.4rem;
    color: #333;
  }
  
  .titleLink {
    text-decoration: none;
  }
  
  .main {
    padding: 2rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  
  